<div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap.gt-sm="20px">
  <div fxFlex="25">
    <app-name data-inviewport="fade-rotate"></app-name>
    <app-contact data-inviewport="fade-rotate"></app-contact>
    <app-hobby data-inviewport="fade-rotate"></app-hobby>
    <app-skill data-inviewport="fade-rotate"></app-skill>
  </div>
  <div fxFlex="75">
    <app-about-me data-inviewport="scale-in"></app-about-me>
    <app-experience data-inviewport="fade-rotate"></app-experience>
    <app-education data-inviewport="fade-rotate"></app-education>
    <app-project data-inviewport="fade-rotate"></app-project>
  </div>
</div>
