.card {
  margin-bottom: 16px;
  border-radius: 20px;
  background: var(--background-color);
  box-shadow: var(--box-shadow);
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--text-color);
  display: block;
  position: relative;
  padding: 16px;

  &__header {
    padding: 10px 0;
  }

  &__title {
    font-family: "Poppins", sans-serif;
    font-size: 22px;
    font-weight: 600;
    padding: 0 1rem 0.5rem;
  }

  &__content {

    p,
    i {
      color: #999;
    }
  }

  &.profile {
    padding: 0;
    background: linear-gradient(180deg,
        #9331e0 0%,
        #34c4f9 99.99%,
        #2fdaff 100%);
  }
}
