// @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

.card {
  margin-bottom: 16px;
  border-radius: 30px !important;
  background: #ffffff !important;
  box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff !important;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  position: relative;
  padding: 16px;
  &__header {
    padding: 10px 0;
    display: flex;
    flex-direction: row;
  }

  &__title {
    font-family: "Poppins", sans-serif !important;
    font-size: 22px !important;
    font-weight: 800 !important;
    padding: 0 1.5rem 0.5rem;
  }

  &__content {
    p,
    i {
      color: #999;
    }
  }

  &__image {
    width: calc(100% + 32px);
    margin: -16px -16px 16px -16px;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
  }

  li {
    margin-bottom: 8px;
  }
}
