.stepper {
  display: flex;
  margin-bottom: 0.25rem;
  &__container {
    display: flex;
    flex-direction: column;
    margin: 1rem 0 0 0.5rem;
  }

  &__text-container {
    margin: -0.25rem 0 1rem;
    b {
      margin-bottom: 0.5rem !important;
      font-size: 0.9rem !important;
      line-height: 1rem !important;
    }

    p {
      margin-bottom: 0.15rem !important;
      font-size: 0.75rem !important;
      color: var(--desc-color);
    }

    span {
      margin-bottom: 0.5rem !important;
      font-size: 1rem !important;
      line-height: 1rem !important;
    }
  }
  &__line {
    width: 4px;
    background-color: var(--stepper-color);
    height: 100%;
    &.mobile {
      width: 2px;
    }
  }
  &__pointer {
    display: flex;
    flex-direction: column;
    padding-right: 1.5rem;
    align-items: center;
  }

  &__circle {
    color: #fff;
    background: var(--stepper-color);
    margin-bottom: 0.25rem;
    height: 2rem;
    line-height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;
    position: relative;
    font-size: 0.75rem;
    border-radius: 50%;
    &.desktop {
      aspect-ratio: 3/1;
      border-radius: 0;
      &:before{
        content: "";
        position: absolute;
        left: -1rem;
        top: 0;
        border-top: 1rem solid transparent;
        border-bottom: 1rem solid transparent;
        border-right: 1rem solid var(--stepper-color); 
      }
    }
  }
}