<div class="stepper__container">
  <div class="stepper" *ngFor="let item of data; let i = index">
    <div class="stepper__pointer">
      <div class="stepper__circle" [class.desktop]="!isMobileDevice">
        {{ item.pointer }}
      </div>
      <div
        *ngIf="i + 1 != data.length"
        class="stepper__line"
        [class.mobile]="isMobileDevice"
      ></div>
    </div>
    <div class="stepper__text-container">
      <span>{{ item.heading }}</span>
      <p>{{ item.sub_heading }}</p>
      <b>{{ item?.description }}</b>
    </div>
  </div>
</div>
