
@mixin flex($dir){
  @extend .flex;
  flex-direction: $dir;
}

@mixin gap($value) {
  gap: $value;
}

@mixin align($row, $column) {
  justify-content: $row;
  align-items: $column;
}

@mixin flex-basis($value) {
  flex: 1 1 $value;
}

.flex {
  display: flex;
  &__row {
    @include flex(row);
  }
  &__column {
    @include flex(column);
  }
  &__wrap {
    flex-wrap: wrap;
  }
  &__25 {
    @include flex-basis(25%);
  }
  &__33 {
    @include flex-basis(33.333%);
  }
  &__50 {
    @include flex-basis(50%);
  }
  &__67 {
    @include flex-basis(66.6666%);
  }
  &__75 {
    @include flex-basis(75%);
  }

}

.gap {
  &-1 {
    @include gap(0.25rem);
  }
  &-2 {
    @include gap(0.5rem);
  }
  &-3 {
    @include gap(1rem);
  }
  &-4 {
    @include gap(1.5rem);
  }
  &-5 {
    @include gap(2rem);
  }
  &-6 {
    @include gap(2.5rem);
  }
}

.align {
  &__center-center {
    @include align(center, center);
  }
}


