.percent {
  position: relative;
}

.circle__container {
  margin-bottom: 10px;
}

svg {
  position: relative;
  transform: rotate(-90deg);

  circle {
    width: 100%;
    height: 100%;
    fill: none;
    stroke: #c4c4c4;
    stroke-width: 10;
    stroke-linecap: round;

    &:last-of-type {
      stroke-dasharray: 625px;
      stroke-dashoffset: calc(625px - (250px * var(--percent)) / 100);
    }
  }
}

img {
  width: 45px;
  height: 45px;
}
