/* You can add global styles to this file, and also import other style files */
// @import "@angular/material/prebuilt-themes/deeppurple-amber.css";
@import './styles/themes.scss';

html {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f5f5f5;
  // padding: 10px;
}
p {
  margin: 0 !important;
}

// .mat-list-base .mat-list-item .mat-list-icon, .mat-list-base .mat-list-option .mat-list-icon {
//   border-radius: none !important;
// }


/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
